// COLORS
$color-primary: #0f0c29;
$color-primary-light: #302b63;
$color-primary-dark: #24243e;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #ad5389;
$color-tertiary-dark: #3c1053;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #FFFFFF;
$color-black: #000;

$red: red;
$green-primary:#28b485;
$green-primary-light: #9ACD32;
$blue:#4682B4;
$blue-dark:#003152;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//ANIMATION
$duration: .5s;
$distance: 12px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);