@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background: lavender;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Lato', sans-serif;

}

h2 {
    font-size: 4em;
    color: #333;
    font-weight: 500;

}

h2 span {
    animation: animate 1s linear infinite;
}

h2 span:nth-child(1) {
    animation-delay: 0s;
}

h2 span:nth-child(2) {
    animation-delay: 0.2s;
}

h2 span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes animate {
    0%, 80% {
        color: #333;
        box-shadow: none;
    }
    100% {
        color: #6b60ff;
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff,
        0 0 80px #fff,
        0 0 120px #fff,
        0 0 160px #fff;
    }
}

.container {
    width: 700px;
    height: 565px;
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.container .board {
    position: relative;
    width: calc(50% - 20px);
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: whitesmoke;

    display: flex;
    flex-direction: column;
}

.container .board .top {
    background: #6b60ff;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 30px 0 70px;


    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;

    position: relative;
    z-index: 1;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: whitesmoke;
    height: 50px;

    color: lightgrey;
    font-size: 26px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa:hover {
    border-bottom: 2px solid #6b60ff;
    color: #6b60ff;
    text-shadow: 0 0 10px rgba(107, 96, 255, 0.3);
    background: transparent;
    padding-bottom: 3px;
}

.fa-home {
    position: relative;
}

.fa-home:after {
    content: "";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: red;
    position: absolute;
    top: 2px;
    right: -3px;

}


.container .board .boxBox {
    height: 80%;
    margin-top: -60px;
    background: transparent;
    z-index: 2;
    display: flex;
}

.container .board .boxBox .box {
    height: 24%;
    padding: 15px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.2);
    color: rgba(186, 186, 186, 0.7);
    font-weight: bold;
    background: white;
    border-radius: 5px;
}

.boxBox .box:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}


.container .board.board1 .boxBox.boxBox1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.container .board.board1 .boxBox.boxBox1 .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;


}

.container .board.board1 .boxBox.boxBox1 .box img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    padding: 0;
    margin: 5px;
}

.container .board.board2 .boxBox2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}



button {
    width: 90%;
    height: 45px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: salmon;
    font-size: 14px;
    border-radius: 5px;
    line-height: 45px;
    outline: none;
    border: none;
}