// COLORS
$color-primary: #18C2C0;
$color-primary-light: #18C2C0;
$color-primary-dark: #171a3d;

$color-paypal:#1E2148;


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;


$border-color:#292C58;
$label-color:#fff;