body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-white;
  text-transform: uppercase;

}

//CARD ABOVE
.card-above__text {
  letter-spacing: 0.8rem;
  text-align: center;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &--main {
    display: block;
    font-size: 7rem;
    font-weight: 400;
    background-image: linear-gradient(to right, $color-white, $color-primary-light);
    -webkit-background-clip: text;
    color: transparent;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.6rem;
  }
}
//CARD BELOW


