.bg-image {
  height: 95vh;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-grey-dark, 0.4),
  rgba($color-grey-dark-2, 0.3)),
  url(../img/wolf.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
}

