body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 30%;
    left:50%;

    font-family: 'Open Sans', sans-serif;

}

a {
    position: relative;
    padding: 15px 40px;
    border: 2px solid #000;
    text-decoration: none;
    text-transform: none;
    font-size: 24px;
    display: block;
    border-radius: 32px;
    color: #000;
    overflow: hidden;

}
a:hover {
    color:white;
    transition-delay: 1s;

}
a:before {
    content: "";
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%) scale(.7);
    width: 13px;
    height: 13px;
    background: #ff0052;
    border-radius: 50%;
    z-index: -1;
    transition-property: left, transform ;
    transition-delay: 0s, 0s;
    transition-duration:  1s, .5s;
    opacity:0;

}

a:hover:before {
    left:10px;
    transform: translateY(-50%) scale(20);
    transition-delay: 0s, 1s;
    opacity:1;

}

a:after {
    content: "";
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%) scale(.7);
    width: 13px;
    height: 13px;
    background: #ff0052;
    border-radius: 50%;
    z-index: -1;
    transition-property: right, transform ;
    transition-delay: 0s, 0s;
    transition-duration:  1s, .5s;
    opacity:0;
}

a:hover:after {
    right:10px;
    transform: translateY(-50%) scale(20);
    transition-delay: 0s, 1s;
    opacity:1;


}