.details {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #242852;

  .right, .left {
    @include left-right;

  }

  .left {
    float: left;
    padding-left: 40px;
    width: 50%;

    label {
      letter-spacing: 0.5px;
      color: #8F92C3;
      width: 100px;
      margin-right: 20px;
    }

    select {
      font-family: 'Source Code Pro', monospace;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent;
      border: none;
      outline: none;
      color: #444880;
    }

    span {
      font-family: 'Source Code Pro', monospace;
      color: #444880;
      margin: 0 2px;
    }
  }

  .right {
    float: right;
    width: 50%;

    span {
      text-align: center;
      display: inline-block;
      font-family: 'Source Code Pro', monospace;
      cursor: pointer;
      margin-left: 50px;
      color: #18C2C0;
      width: 24px;
      height: 24px;
      border: 2px solid #18C2C0;
      border-radius: 50%;
    }

    label {
      margin-right: 20px;
      color: #8F92C3;
      @include label_below;


      input {
        text-align: center;
        font-family: 'Source Code Pro', monospace;
        cursor: pointer;
        border: none;
        outline: none;
        @include input;

        &::placeholder {
          font-family: 'Source Code Pro', monospace;
          color: #444880;
        }
      }
    }
  }
}

.cardholder .info input::placeholder,
.number .info input::placeholder {
  font-family: 'Source Code Pro', monospace;
  color: #444880;
}


#cardnumber, #cardnumber::placeholder {
  letter-spacing: 2px;
}