.section-sign {
  width: 100%;
  color: $color-white;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  font-size: 2.3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  transition: all .5s;

  &--in {
    display: inline-block;
    float: left;

    &:hover {
      border-bottom: 2px solid $color-white;
    }
  }

  &--up {

    display: inline-block;
    float: right;

    &:hover {
      border-bottom: 2px solid $color-white;
    }
  }

  &--in:hover + &--up {
    font-weight: 200;
  }

  &--up:hover ~ &--in {
    font-weight: 200;
  }
}