.btn {
  width: 100%;
  height: max-content;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.2rem;
  padding: 0.5rem 2rem;
  border-radius: 60px;
  font-weight: 400;


  &--green {
    background-color: $green-primary;
    opacity: 0.8;
  }

  &--blue {
    background-color: $blue-dark;
    padding: 0.5rem 2rem;

  }
  &--text {
    font-size: 0.5rem;
  }
}